# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
config.log
config.status
pybuilddir.txt
pyconfig.h

Parser/pgen
Programs/_freeze_importlib
Programs/_testembed
build/lib.linux-x86_64-3.6/__pycache__/_sysconfigdata_m_linux_x86_64-linux-gnu.cpython-36.opt-1.pyc
build/lib.linux-x86_64-3.6/__pycache__/_sysconfigdata_m_linux_x86_64-linux-gnu.cpython-36.opt-2.pyc
build/lib.linux-x86_64-3.6/__pycache__/_sysconfigdata_m_linux_x86_64-linux-gnu.cpython-36.pyc
build/lib.linux-x86_64-3.6/_sysconfigdata_m_linux_x86_64-linux-gnu.py

Lib/encodings/__pycache__/ascii.cpython-36.opt-1.pyc
Lib/encodings/__pycache__/ascii.cpython-36.opt-2.pyc


Makefile
Makefile.pre
Misc/python-config.sh
Misc/python.pc
Modules/Setup.config
Modules/config.c
Modules/ld_so_aix
build/
python-config
python-config.py

Lib/__pycache__/
Lib/asyncio/__pycache__/
Lib/collections/__pycache__/
Lib/concurrent/__pycache__/
Lib/concurrent/futures/__pycache__/
Lib/ctypes/__pycache__/
Lib/distutils/__pycache__/
Lib/distutils/command/__pycache__/
Lib/email/__pycache__/
Lib/encodings/__pycache__/
Lib/ensurepip/__pycache__/
Lib/html/__pycache__/
Lib/http/__pycache__/
Lib/importlib/__pycache__/
Lib/json/__pycache__/
Lib/lib2to3/__pycache__/
Lib/lib2to3/pgen2/__pycache__/
Lib/logging/__pycache__/
Lib/multiprocessing/__pycache__/
Lib/urllib/__pycache__/
Lib/xml/__pycache__/
Lib/xml/etree/__pycache__/
Lib/xml/parsers/__pycache__/
Lib/xml/sax/__pycache__/
Lib/xmlrpc/__pycache__/
Parser/asdl.pyc
python
python-gdb.py
